@charset "UTF-8";

/* Configurações gerais */

*{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #233eff;
}

h1{
    color: white;
    text-shadow: 3px 3px 0px #152494;
}